@charset "utf-8";

@font-face {
    font-family: snes;
    src: url(fonts/dharma-gothic-e-regular.otf);
}
@font-face {
    font-family: nintendo;
    src: url(fonts/Pretendo.ttf);
}
@font-face {
    font-family: logo;
    src: url(fonts/Game\ Logos.ttf);
}

:root {
    --logo: #fc0c18;
    --corpo: #d6d5da;
    --logo2: #9f9ea6;
    --yx: #aaa7de;
    --ba: #543a91;
    --ss: #414143;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--corpo);
}
body.bH {
    background-color: var(--ss);
}

header h1 {
    font-family: snes;
    font-size: 64px;
    font-style: italic;
}
header p {
    font-family: snes;
    font-size: 20px;
    font-style: italic;
    margin: -35px -16px 25px -16px;
    color: #efeff1;
    background-color: var(--logo2);
}

.w3-bar {
    margin-top: 5px;
    font-family: snes;
    font-size: 16px;
}
.w3-bar a {
    padding: 4px 21px 0px 21px !important;
    margin: 5px 12.5px 5px 12.5px;
    border-radius: 2px;
}
.w3-bar a:hover {
    box-shadow: 0px 0px 8px 2px var(--yx);
}
.w3-bar-block {
    font-family: snes;
    font-size: 16px;
}
.w3-bar-block a {
    width: 96% !important;
    margin: 0px auto 10px;
    border-radius: 2px;
    padding-top: 11px !important;
}
.w3-bar-block a:hover {
    box-shadow: 0px 0px 8px 2px var(--yx);
}
.divMenu {
    margin-bottom: 25px;
}

main.mI {
    background-color: #f7f7f8;
}
main.mI img {
    width: 90%;
    margin: 50px 0px;
}

.w3-card {
    display: inline-block;
    width: 250px;
    margin: 25px 25px 25px 25px;
    border-radius: 2px;
}
.w3-card img {
    width: 200px;
    margin: 25px;
}
.w3-card:hover {
    box-shadow: 0px 0px 8px 2px var(--ba);
    font-weight: bold;
}
.w3-card:hover img {
    border-color: var(--logo2) !important;
}

.roms {
    width: 271px;
    height: auto;
    /* margin: 25px 25px 25px 25px; */
}
.roms img {
    width: 250px;
    height: 182px;
    margin: 10px;
    border-radius: 2px;
}

.fundo {
    /* padding: 25px; */
    border-radius: 2px;
}

.consoles {
    display: inline-block;
    width: screen;
    max-width: 400px;
    height: auto;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 2px;
}
.consoles h5 {
    padding: 5px;
    font-weight: bold;
    background-color: var(--ss);
    color: white;
    margin: 0px;
}
.consoles p {
    padding: 3px;
    text-indent: 0px;
    background-color: var(--corpo);
    color: black;
    border-radius: 0px 0px 2px 2px;
}
.consoles img {
    padding: 12.5px;
    border-radius: 4px;
    width: 100%;
    height: auto;
}
.consoles:hover {
    box-shadow: 0px 0px 8px 2px var(--logo2);
}

article h2 {
    font-family: snes;
    font-size: 48px;
}
article p {
    padding: 0px 25px 25px;
    text-indent: 25px;
    line-height: 25px;
}
article hr.hrH {
    border-top: 1px solid var(--ss);
}
article a:link {
    text-decoration: none;
    color: var(--logo);
    font-weight: bold;
}
article a:visited {
    color: #9e0209;
}
article a:hover {
    text-decoration: underline;
}

.irParaN64 {
    padding: 4px 6px;
    border: 2px dashed;
    border-radius: 2px;
    background-color: white;
    color: var(--logo);
}
.irParaN64:hover {
    border-style: solid;
    text-decoration: none;
}
.irParaN64:active {
    background-color: yellow;
}

.nomeRom {
    display: none;
}

input {
    margin: 25px auto 25px auto !important;
    border-radius: 2px;
    width: 271px !important;
    max-width: 80%;
}
input:hover {
    box-shadow: 0px 0px 8px 2px var(--yx);
}
::placeholder {
    color: var(--ba);
}

footer {
    font-family: logo;
    font-weight: normal;
    padding: 5px 0px 6px !important;
    margin-top: 25px;
}
footer a {
    text-decoration: none;
    font-size: 20px;
}
.fI {
    margin: 0px;
}
